In [16]:
import seaborn as sns
import numpy as np 
import pandas as np
from sklearn.preprocessing import OneHotEncoder

In [25]:
df = sns.load_dataset('titanic')
df.head(10)

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True
5         0       3    male   NaN  ...   NaN   Queenstown     no   True
6         0       1    male  54.0  ...     E  Southampton     no   True
7         0       3    male   2.0  ...   NaN  Southampton     no  False
8         1       3  female  27.0  ...   NaN  Southampton    yes  False
9         1       2  female  14.0  ...   NaN    Cherbourg    yes  False

[10 rows x 15 columns]

In [26]:
encoder = OneHotEncoder(categories=[['Third','Second','First']])
encoded = encoder.fit_transform(df[['class']])

In [27]:
import pandas as pd
df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())
df

ValueError: Shape of passed values is (891, 1), indices imply (891, 3)