In [4]:
import pandas as pd
import numpy as np
import sklearn

ModuleNotFoundError: No module named 'sklearn'

In [6]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.8.0-cp313-cp313-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy>=1.24.1 in d:\udemy\ml study material\feature engineering\venv\lib\site-packages (from scikit-learn) (2.4.0)
Collecting scipy>=1.10.0 (from scikit-learn)
  Using cached scipy-1.16.3-cp313-cp313-win_amd64.whl.metadata (60 kB)
Collecting joblib>=1.3.0 (from scikit-learn)
  Downloading joblib-1.5.3-py3-none-any.whl.metadata (5.5 kB)
Collecting threadpoolctl>=3.2.0 (from scikit-learn)
  Using cached threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Downloading scikit_learn-1.8.0-cp313-cp313-win_amd64.whl (8.0 MB)
   ---------------------------------------- 0.0/8.0 MB ? eta -:--:--
   --------- ------------------------------ 1.8/8.0 MB 12.0 MB/s eta 0:00:01
   ----------------------- ---------------- 4.7/8.0 MB 12.7 MB/s eta 0:00:01
   ----------------------------------- ---- 7.1/8.0 MB 12.9 MB/s eta 0:00:01
   ---------------------------------------  7.9/8.0 MB 12.7 MB/s eta 0:00:01
   ---------------------------------------- 8.0/8.0 MB 9.6 MB/s  0:00:00
Downloading joblib-1.5.3-py3-none-any.whl (309 kB)
Using cached scipy-1.16.3-cp313-cp313-win_amd64.whl (38.5 MB)
Using cached threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Installing collected packages: threadpoolctl, scipy, joblib, scikit-learn

   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   ---------- ----------------------------- 1/4 [scipy]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   -------------------- ------------------- 2/4 [joblib]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ------------------------------ --------- 3/4 [scikit-learn]
   ---------------------------------------- 4/4 [scikit-learn]

Successfully installed joblib-1.5.3 scikit-learn-1.8.0 scipy-1.16.3 threadpoolctl-3.6.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np 
import sklearn

In [11]:
n_sample= 10000
class_0_ratio = 0.9

class_0 = int(n_sample * 0.9)
class_1= int(n_sample - class_0)

In [12]:
class_0, class_1

(9000, 1000)

In [13]:
Class_Majority = pd.DataFrame({
    'Feature_1': np.random.normal(loc=0, scale=1, size=class_0),
    'Feature_2': np.random.normal(loc=0, scale=1,size =class_0),
    'Target': [0] * class_0
})

Class_Minority = pd.DataFrame({
    'Feature_1': np.random.normal(loc=2, scale=1, size=class_1),
    'Feature_2': np.random.normal(loc=2, scale=1,size =class_1),
    'Target': [1] * class_1
})

In [20]:
df = pd.concat([Class_Majority, Class_Minority]).reset_index(drop=True)

In [21]:
df

      Feature_1  Feature_2  Target
0     -0.183357  -0.689000       0
1     -2.022639   0.459861       0
2     -0.176172  -0.529863       0
3      0.197618  -0.809216       0
4     -1.516719  -0.368680       0
...         ...        ...     ...
9995   2.190097   2.499973       1
9996   1.769164   0.921483       1
9997   3.551416   1.838316       1
9998   1.490357   1.253183       1
9999   3.035841   1.486687       1

[10000 rows x 3 columns]

In [22]:
df['Target'].value_counts()

Target
0    9000
1    1000
Name: count, dtype: int64

### UpSampling

In [23]:
df_minority = df[df['Target']==1]
df_majority = df[df['Target']==0]

In [24]:
df_minority

      Feature_1  Feature_2  Target
9000   0.899071   3.132722       1
9001   3.745659   4.637491       1
9002   1.661759   1.130686       1
9003   0.168711   2.806778       1
9004   0.692342   2.322211       1
...         ...        ...     ...
9995   2.190097   2.499973       1
9996   1.769164   0.921483       1
9997   3.551416   1.838316       1
9998   1.490357   1.253183       1
9999   3.035841   1.486687       1

[1000 rows x 3 columns]

In [27]:
from sklearn.utils import resample
df_minority_updated=resample(df_minority, replace=True,n_samples=len(df_majority),random_state=52)

In [29]:
df_minority_updated

      Feature_1  Feature_2  Target
9668   2.021348   2.701787       1
9779   1.436093   3.933366       1
9525   1.902901   0.987588       1
9151  -0.021467   0.571546       1
9086   2.482984   2.685234       1
...         ...        ...     ...
9279   2.149257   2.281309       1
9528  -0.463112   2.750131       1
9528  -0.463112   2.750131       1
9566   0.457651   2.719141       1
9056   1.168394   1.464129       1

[9000 rows x 3 columns]

In [32]:
df = pd.concat([df_majority, df_minority_updated])
df['Target'].value_counts()

Target
0    9000
1    9000
Name: count, dtype: int64

### Down Sampling

In [33]:
import numpy as np
import pandas as pd

n_sample = 10000
class_ratio = 0.9
n_class_0 = int(n_sample * class_0_ratio)
n_class_1 = int(n_sample - n_class_0)

n_class_0, n_class_1

(9000, 1000)

In [41]:
# Craeting Data Frame

class_0 = pd.DataFrame({
    'Feature 1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'Feature 2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'Target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'Feature 1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'Feature 2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'Target': [1] * n_class_1
})

df = pd.concat([class_0,class_1]).reset_index(drop=True)
df

      Feature 1  Feature 2  Target
0      1.911985  -1.231935       0
1      0.917512  -1.842522       0
2     -2.099182   1.387321       0
3     -0.826466   0.730481       0
4      0.608241  -0.477678       0
...         ...        ...     ...
9995   2.020285   2.169105       1
9996   1.700404   2.709555       1
9997   0.640797   1.497699       1
9998   4.472020   2.042792       1
9999   3.405470   3.303618       1

[10000 rows x 3 columns]

In [42]:
df['Target'].value_counts()

Target
0    9000
1    1000
Name: count, dtype: int64

In [43]:
minority = df[df['Target'] == 1]
majority = df[df['Target'] == 0]

In [45]:
from sklearn.utils import resample
df_majority_updated = resample(majority, replace=False, n_samples=len(minority), random_state=40)

In [47]:
df = pd.concat([df_majority_updated, minority])
df['Target'].value_counts()

Target
0    1000
1    1000
Name: count, dtype: int64